/***** RESET *****/
html, body, div, object, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, form, fieldset, input, textarea, select, label, legend, button, a, small, table, th, td {margin:0; padding:0; line-height:1em;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block;}
audio, canvas, video {display:inline-block;}
body {text-rendering:optimizeLegibility;}
html, fieldset, img, abbr {border:0;}
img {vertical-align:middle;}
ul, ol {padding-left:1.5em;}
input, textarea, select, button {font-size:1em; font-family:inherit;}
input[type="text"] {-webkit-appearance:none; border-radius:0;}
button, input[type="button"], input[type="reset"], input[type="submit"], label[for] {cursor:pointer;}
sup, sub {position:relative; top:-.4em; vertical-align:baseline;}
sub {top:.3em;}
table {border-collapse:collapse; border-spacing:0;}
th {text-align:left;}
code {white-space:pre;}
abbr[title] {cursor:help;}
ins {text-decoration:none;}
q:before, q:after {content:"";}
a:hover, a:focus, a:active {outline:0;}
/***** CLEARFIX *****/
.cf:before, .cf:after {content:""; display:table;}
.cf:after {clear:both;}

/* Globals */
* {
    box-sizing: border-box;
    font-family: arial;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    -webkit-tap-highlight-color: transparent !important;
    outline: 0 !important;

}
::-webkit-scrollbar { 
    display: none; 
}

body {
    margin-top: 60px;
    --primary-color: #009688;
}
body.send-message-open .chat-input-container {
    bottom: 0;
}
body.signed-in .sign-up-container {
    left: -100vw;
}

/* Signup Screen */
.sign-up-container {
    position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
    width: 100vw;
    overflow: none;
    background-color: var(--primary-color);
    z-index: 999;
    transition: all .25s ease-out;
}
.sign-up {
    position: absolute;
        top: 35%;
        left: 10%;
        right: 10%;
    height: auto;
}
.sign-up h1 {
    display: block;
    font-size: 28px;
    color: #FFF;
    text-align: center;
    margin-bottom: 30px;
}
.sign-up p {
    display: inline-block;
    color: #FFF;
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 80px;
}
.sign-up input {
    display: inline-block;
    height: auto;
    width: 50px;
    margin: 0 auto 50px auto;
    padding-bottom: 5px;
    text-align: center;
    font-size: 25px;
    color: #FFF;
    background-color: transparent;
    outline: 0;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #FFF;
}
.sign-up #signIn {
    display: block;
    width: 200px;
    height: 50px;
    color: #009688;
    font-size: 22px;
    background-color: #FFF;
    line-height: 2;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
}
/* Header */
header {
    position: fixed;
        right: 0;
        left: 0;
        top: 0;
    height: 60px;
    z-index: 99;
    background-color: var(--primary-color);
}
.header-container {
    position: relative;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}
.header-container h1 {
    display: block;
    color: #FFF;
    font-size: 18px;
    text-align: center;
    padding-top: 21px;
}

/* Main container section */
.main-container {
    width: 100%;
    height: calc(100vh - 60px);
    overflow-y: hidden;
    padding: 25px 0;
    background-color: #FAFAFA;
}
#gordonChat {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
}
.chat-message {
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    margin-bottom: 10px;
    border-radius: 10px;
}
.chat-message:last-child {
    display: none;
}
.chat-message-left {
    float: left;
    width: 30%;
    height: 100%;
    padding: 25px 10px;
}
h2.apt-number {
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}
.chat-message-right {
    float: left;
    width: 70%;
    height: auto;
    padding: 20px 20px 20px 0;
}
.chat-message-content {
    color: #FFF;
    line-height: 1.375;
}



/* show chat button & input*/
.show-chat-button {
    position: fixed;
        bottom: 2.5%;
        left: 75%;
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
    background-color: #999;
    text-align: center;
    font-size: 50px;
    padding-top: 12.5px;
    color: #FFF;
    cursor: pointer;
    -webkit-box-shadow: 0px 2.5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2.5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2.5px 5px 0px rgba(0,0,0,0.75);
    z-index: 99;
}

.chat-input-container {
    position: fixed;
        bottom: -250px;
        left: 0;
        right: 0;
    height: 250px;
    background-color: yellow;
    z-index: 999;
    padding-top: 25px;
    transition: all .25s ease-out;
    background-color: #FAFAFA;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
}
.chat-input-container textarea {
    display: block;
    width: 90%;
    height: 130px;
    margin: 0 auto;
    resize: none;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}
#sendMessage {
    display: block;
    height: 60px;
    width: 90%;
    margin: 0 auto;
    background-color: var(--primary-color);
    text-align: center;
    color: #FFF;
    padding-top: 20px;
    font-size: 18px;
    border-radius: 10px;
}









